.header-display-image {
    max-height: 250px !important;
    min-height: 300px !important;
}

p {
    font-size: 20px;
}

.main-div {
    margin-top: 100px;
}

.lbc1-image{
    max-height: 160px !important;
    min-height: 210px !important;
}

.lbc2-image{
    max-height: 150px !important;
    min-height: 200px !important;
}

.lbc-image{
    max-height: 130px !important;
    min-height: 200px !important;
}

.select-branch{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #efad19;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.select-sem{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color:black;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}