.study-material-card {
  background-color: #faf2f2;
  margin: 10px;
  padding: 5px;
  min-width: 240px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 3px black;
  cursor: pointer;
}
.study-material-card:hover {
  box-shadow: 5px 5px black;
  transition: 0.5s;
}

.study-material-card-header-img {
  display: block;
  margin: auto;
  max-height: 100px;
}

.study-material-card-description {
  font-size: 15px;
  margin-bottom: 0;
}
