/* .navbar-main-div{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
} */

.nav-color {
    color: black;
}

.navbar-toggler {
    color: black;
}

.signup-btn {
    padding: 5px;
    margin: 3px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: #e0e0e0;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.signup-btn:hover {
    box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}

.login-btn {
    padding: 5px;
    margin: 3px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: #efad19;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.login-btn:hover {
    box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}
