.default-loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    color: white;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.loader-box{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
